POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=yourdatabase
FLASK_SECRET_KEY=your_secret_key
DATABASE_HOST=localhost
DATABASE_URL=postgresql://myuser:mypassword@db:5432/mydatabase
FIREBASE_CREDENTIALS_PATH=./Firebase/automatisierte-ki-firebase-adminsdk-olik4-638c8d68b3.json
SMTP_HOST=smtp.web.de
SMTP_PORT=587
SMTP_EMAIL= your_smtp_email
SMTP_PASSWORD= your_smtp_password
APP_NAME= your_app_name
OPENAI_API_KEY= your_openai_api_key
FIREBASE_API_KEY= your_firebase_api_key

# Frontend
VITE_API_URL=http://localhost:5000
FRONTEND_URL=https://thesis.guita.dev
